body {
    padding: 100px;
    font-size: 20px;
    text-align: center;
}

li {
    list-style: none;
}



#monday {
    background-color: #C0C0C0;
    padding: 50px;
}

#tuesday{
    background-color: #F5F5F5;
    padding: 50px;

}

#wednesday {
    background-color: #DCDCDC;
    padding: 50px;

}

#thursday {
    background-color: #A9A9A9;
    padding: 50px;

}

#friday {
    background-color: #F8F8F8;
    padding: 50px;

}

#saturday {
    background-color: #C0C0C0;
    padding: 50px;

}

#sunday{
    background-color: #F5F5F5;
    padding: 50px;

}